@page
@model MyWebsite.Pages.Foundation.ActiveDisastersModel
@{
}

<header class="header">

    <div class="flex">

        <a href="Homepage.html" class="logo">Disasters<span> Alleviation </span>Foundation</a>

        <nav class="navbar">
            <ul>
                <li><a href="/Foundation/ActiveDisasters">Active Disasters</a></li>
                <li><a href="/Foundation/TotalDonations">Donations Received</a></li>
            </ul>
        </nav>

    </div>

</header>

