@page
@model MyWebsite.Pages.Foundation.UpdateModel
@{
}

<section class="heading">
    <h3>Update Record</h3>
</section>

<section class="new-disaster">

    <!--form to capture user input-->
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@Model.disasterInfo.did" />
        <h3>Update Disaster End Date</h3>
        <h4>End date</h4>
        <input type="date" name="disend" class="box">

        @if (Model.successMessage.Length > 0)
        {
            <div class='alert alert-warning alert-dismissable fade show' role='alert'>
                <strong>@Model.successMessage</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }

        <input type="submit" value="Update" name="add_disaster" class="btn">
    </form>

</section>