@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="header">

    <div class="flex">

        <a href="Homepage.html" class="logo">Disasters<span> Alleviation </span>Foundation</a>

        <nav class="navbar">
            <ul>
                <li><a href="/Foundation/ActiveDisasters">Active Disasters</a></li>
                <li><a href="/Foundation/TotalDonations">Donations Received</a></li>
            </ul>
        </nav>

    </div>

</header>

<section class="new-disaster">

    <!--form to capture user input-->
    <form method="POST" enctype="multipart/form-data">
        <h3>Sign In</h3>
        <input type="text" name="logemail" placeholder="Email" class="box" required>
        <input type="password" placeholder="Password" name="logpassword" class="box" required>
        <input type="submit" value="Sign In" name="donate_money" class="btn">
    </form>

</section>